#logo{
	width: 200px;
	height: 80px;
	margin: 20px 0;
	display: inline-block;
	vertical-align: top
}
#info{
	display: inline-block;
	width: 600px;
	font-size: 18px;
	margin: 40px;
	padding: 10px 5px;
}
#time{
	float: right;
	margin: 40px;
	margin-right: 0;
	padding: 10px 5px;
	font-size: 18px;
}
table {
	width: 100%;
}
table td *, table td, table td span.label{
	font-size: 16px;
}
#end_tender tr td:nth-child(1),
#customers tr td:nth-child(1),
#new_tender tr td:nth-child(1){
	width: 70%;
}
#dolg tr td:nth-child(1){
	width: 40%;
}
table tr{
	border: 1px solid #444;
}
table tr td{
	padding: 5px 10px;
}
table tr:nth-child(odd){
	background: #ccc;
}
.panel-heading{
	font-size: 20px;
	font-weight: bold;
}