
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>index</title>
	<link rel="stylesheet" href="./css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
	<script type="text/javascript" src="js/jquery2.js"></script>
	<script type="text/javascript" src="js/owl.carousel.js"></script>
	<script type="text/javascript" src="js/tab.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="js/function.js"></script>
</head>
<body>
	<div class="overlay"></div>
	<header>
		<div class="additional_block">
			<div class="wrapper clear">
				<div class="additional_text">Тендеры для всех</div>
				<a href="#">Как тут все устроено</a>
				<div class="additional_close"></div>
			</div>
		</div>
		<nav class="nav_top">
			<div class="wrapper clear">
				<div class="button_left_menu"></div>
				<ul class="horizon_menu">
					<li>
						<a href=""><img src="./images/Logo.png"></a>
					</li>
					<li><a href="#">Тендеры</a></li>
					<li><a href="#">Правила</a></li>
					<li><a href="#">Советы</a></li>
					<li><a href="#">Пункт4</a></li>
					<li><a href="#">Пункт5</a></li>
				</ul>
				<div class="login_block">
					<a href="#" class="login">вход</a>
					<span></span>
					<a href="#">регистрация</a>
				</div>
				<div class="left_menu">
					<nav class="nav_left">
						<div>
							<a href="#"><img src="./images/Logo.png"></a>
							<div></div>
						</div>
						<ul>
							<li class="li_first">Сервис</li>
							<li><a href="#">Пункт бокового меню 1</a></li>
							<li><a href="#">Пункт бокового меню 2</a></li>
							<li><a href="#">Пункт бокового меню 3</a></li>
							<li><a href="#">Пункт бокового меню 4</a></li>
						</ul>
						<ul>
							<li class="li_first">Компания</li>
							<li><a href="#">Пункт бокового меню 1</a></li>
							<li><a href="#">Пункт бокового меню 2</a></li>
							<li><a href="#">Пункт бокового меню 3</a></li>
						</ul>
						<ul>
							<li class="li_first">Служба поддержки</li>
							<li><a href="#">Пункт бокового меню 1</a></li>
							<li><a href="#">Пункт бокового меню 2</a></li>
							<li><a href="#">Пункт бокового меню 3</a></li>
						</ul>
						<ul class="footer_ul_last">
							<li class="li_tel">8 800 100 22 22</li>
							<li class="li_time">Время работы офиса: пн-пт 10:00 - 19:00</li>
							<li class="li_address">Адрес: Москва, Кремль</li>
						</ul>
						<div class="soc_box">
							<a href="#" class="vk"></a>
							<a href="#" class="fb"></a>
							<a href="#" class="tw"></a>
							<a href="#" class="gp"></a>
							<a href="#" class="ok"></a>
						</div>
					</nav>
				</div>
			</div>
		</nav>
			</header>
	<div class="wrapper">
		<div class="pop_tenders">Личный кабинет</div>
		<aside>
			<ul class="shadow_style">
				<li>
					<a href="">Мои тендеры (5)</a>
					<ul>
						<li><a href="">Актуальные (3)</a></li>
						<li><a href="">Завершенные (2)</a></li>
						<li class="disabl"><a href="">Неудачные (0)</a></li>
					</ul>
				</li>
				<li><a href="">Настройки</a></li>
				<li class="select"><a href="">Счет</a></li>
			</ul>
		</aside>
		<section class="right clear profile">
			<fieldset class="shadow_style">
				<div class="pumb">
					<div class="balans">Ваш баланс - 1 452 рубля</div>
					<div class="row">
						<label>Пополнить счет на: </label>
						<input type="text" placeholder="Введите сумму">
						<label> руб.</label>
						<a href="" class="info_button button_active1 shadow_style btn_green">Пополнить</a>
					</div>
				</div>
				<div class="what2">
					<div class="title">Что это?</div>
					<p>С этого счета списывается комиссия за выполнение тендеров.</p>
					<p>Поддерживайте положительный баланс для возможности оставлять предложения и пользоваться всеми возможностями сервиса.</p>
				</div>
			</fieldset>
			<div class="clear"></div>
			<br><br>
			<fieldset class="shadow_style">
				<h2 class="text_gray">Часто задаваемые вопросы</h2>
				<div class="acordion">
					<div class="item open">
						<div class="title">Часто задаваемый вопрос 1?</div>
						<div class="text">Равным образом начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации систем массового участия.</div>
					</div>
					<div class="item">
						<div class="title">Часто задаваемый вопрос 2?</div>
						<div class="text">Равным образом начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации систем массового участия.</div>
					</div>
					<div class="item">
						<div class="title">Часто задаваемый вопрос 3?</div>
						<div class="text">Равным образом начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации систем массового участия.</div>
					</div>
					<div class="item">
						<div class="title">Часто задаваемый вопрос 4?</div>
						<div class="text">Равным образом начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации систем массового участия.</div>
					</div>
				</div>
			</fieldset>
		</section>
		<div class="clear"></div>
	</div>
	<footer>
		<div class="footer_top">
			<div class="footer_top wrapper clear">
				<ul>
					<li class="li_first">Как тут все устроено</li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
				</ul>
				<ul>
					<li class="li_first">Компания</li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
				</ul>
				<ul>
					<li class="li_first">Служба поддержки</li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
				</ul>
				<ul class="footer_ul_last">
					<li class="li_tel">8 800 100 22 22</li>
					<li class="li_time">Время работы офиса: пн-пт 10:00 - 19:00</li>
					<li class="li_address">Адрес: Москва, Кремль</li>
				</ul>
			</div>
		</div>
		<div class="footer_bottom">
			<div class="wrapper clear">
				<div class="copyright">&copy;2015 Tender</div>
				<div class="soc_box">
					<a href="#" class="vk"></a>
					<a href="#" class="fb"></a>
					<a href="#" class="tw"></a>
					<a href="#" class="gp"></a>
					<a href="#" class="ok"></a>
				</div>
			</div>
		</div>
	</footer>
</body>