
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>index</title>
	<link rel="stylesheet" href="./css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
	<script type="text/javascript" src="js/jquery2.js"></script>
	<script type="text/javascript" src="js/owl.carousel.js"></script>
	<script type="text/javascript" src="js/tab.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="js/function.js"></script>
</head>
<body>
	<div class="overlay"></div>
	<header>
		<div class="additional_block">
			<div class="wrapper clear">
				<div class="additional_text">Тендеры для всех</div>
				<a href="">Как тут все устроено</a>
				<div class="additional_close"></div>
			</div>
		</div>
		<nav class="nav_top">
			<div class="wrapper clear">
				<div class="button_left_menu"></div>
				<ul class="horizon_menu">
					<li>
						<a href=""><img src="./images/Logo.png"></a>
					</li>
					<li><a href="">Тендеры</a></li>
					<li><a href="#">Правила</a></li>
					<li><a href="#">Советы</a></li>
					<li><a href="#">Пункт4</a></li>
					<li><a href="#">Пункт5</a></li>
				</ul>
				<div class="login_block">
					<a href="" class="login">вход</a>
					<span></span>
					<a href="">регистрация</a>
				</div>
				<div class="left_menu">
					<nav class="nav_left">
						<div>
							<a href=""><img src="./images/Logo.png"></a>
							<div></div>
						</div>
						<ul>
							<li class="li_first">Сервис</li>
							<li><a href="#">Пункт бокового меню 1</a></li>
							<li><a href="#">Пункт бокового меню 2</a></li>
							<li><a href="#">Пункт бокового меню 3</a></li>
							<li><a href="#">Пункт бокового меню 4</a></li>
						</ul>
						<ul>
							<li class="li_first">Компания</li>
							<li><a href="#">Пункт бокового меню 1</a></li>
							<li><a href="#">Пункт бокового меню 2</a></li>
							<li><a href="#">Пункт бокового меню 3</a></li>
						</ul>
						<ul>
							<li class="li_first">Служба поддержки</li>
							<li><a href="#">Пункт бокового меню 1</a></li>
							<li><a href="#">Пункт бокового меню 2</a></li>
							<li><a href="#">Пункт бокового меню 3</a></li>
						</ul>
						<ul class="footer_ul_last">
							<li class="li_tel">8 800 100 22 22</li>
							<li class="li_time">Время работы офиса: пн-пт 10:00 - 19:00</li>
							<li class="li_address">Адрес: Москва, Кремль</li>
						</ul>
						<div class="soc_box">
							<a href="#" class="vk"></a>
							<a href="#" class="fb"></a>
							<a href="#" class="tw"></a>
							<a href="#" class="gp"></a>
							<a href="#" class="ok"></a>
						</div>
					</nav>
				</div>
			</div>
		</nav>
				<div class="picture_slider wrapper">
			<div class="picture_length clear">
				<div class="item">
					<img src="./images/picture/banner1.jpg" alt="banner1">
					<div class="info_block">
						<div>Удобный способ найти Поставщика для тендера</div>
						<p>
							Здесь только лучшие<br>
							исполнители, проверенные<br>
							нами и зарекомендовавшие себя<br>
							своей качественной работой,<br>
							сданной точно в срок
						</p>
						<a href="#" class="info_button button_active1 shadow_style">Зарегистрировать тендер</a>
					</div>
				</div>
				<div class="item"><img src="./images/picture/banner1.jpg" alt="banner1"></div>
				<div class="item"><img src="./images/picture/banner1.jpg" alt="banner1"></div>
				<div class="item"><img src="./images/picture/banner1.jpg" alt="banner1"></div>
				<div class="item"><img src="./images/picture/banner1.jpg" alt="banner1"></div>
			</div>
			<div class="picture_nav">
				<div class="pressed"></div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
		</div>
		<div class="search_block wrapper790 clear">
			<div class="service_type">Какую услугу искать</div>
			<input type="search" class="shadow_style" placeholder="Например: спасение котят с деревьев">
			<input type="submit" value="">
			<div class="clearfix"></div>
			<div class="search_category">Где искать</div>
			<!--<input type="text" class="list_category" placeholder="Все категории">-->
			<select id="list-search" class="search">
				<option selected="">Все категории</option>
				<option>Категория 1</option>
				<option>- подкатегория 1.2</option>
				<option>-- под-подкатегория 1.2.1</option>
				<option>Категория 2</option>
				<option>- подкатегория 2.2</option>
				<option>-- под-подкатегория 2.2.1</option>
				<option>Категория 3</option>
				<option>- подкатегория 3.2</option>
				<option>-- под-подкатегория 3.2.1</option>
			</select>
		</div>
		<div class="not_found">
			<div class="wrapper790 clear">
				<div>Не нашли подходящий тендер?</div>
				<a href="#">Напишите нам</a>
			</div>
		</div>
	</header>
	<section class="section_pop_tenders wrapper">
		<div class="pop_tenders">Популярные тендеры</div>
		<div class="pop_tenders_block clear">
			<div class="pop_tender shadow_style">
				<div class="pop_tender_name">
					Услуга или объект
					<p>
						Краткое описание услуги или объекта, в виде анонса, занимающее не более 3х строк
					</p>
					<div class="btn">
						<a href="">Зарегистрировать тендер</a>
					</div>
				</div>
				<img src="./images/picture/image1.jpg" alt="image1">
			</div>
			<div class="pop_tender shadow_style">
				<div class="pop_tender_name">
					Услуга или объект
					<p>
						Краткое описание услуги или объекта, в виде анонса, занимающее не более 3х строк
					</p>
					<div class="btn">
						<a href="">Зарегистрировать тендер</a>
					</div>
				</div>
				<img src="./images/picture/image1.jpg" alt="image1">
			</div>
			<div class="pop_tender shadow_style">
				<div class="pop_tender_name">
					Услуга или объект

					<p>
						Краткое описание услуги или объекта, в виде анонса, занимающее не более 3х строк
					</p>
					<div class="btn">
						<a href="">Зарегистрировать тендер</a>
					</div>
				</div>
				<img src="./images/picture/image1.jpg" alt="image1">
			</div>
			<div class="pop_tender shadow_style">
				<div class="pop_tender_name">
					Услуга или объект

					<p>
						Краткое описание услуги или объекта, в виде анонса, занимающее не более 3х строк
					</p>
					<div class="btn">
						<a href="">Зарегистрировать тендер</a>
					</div>
				</div>
				<img src="./images/picture/image1.jpg" alt="image1">
			</div>
			<div class="pop_tender shadow_style">
				<div class="pop_tender_name">
					Услуга или объект

					<p>
						Краткое описание услуги или объекта, в виде анонса, занимающее не более 3х строк
					</p>
					<div class="btn">
						<a href="">Зарегистрировать тендер</a>
					</div>
				</div>
				<img src="./images/picture/image1.jpg" alt="image1">
			</div>
			<div class="pop_tender shadow_style">
				<div class="pop_tender_name">
					Услуга или объект

					<p>
						Краткое описание услуги или объекта, в виде анонса, занимающее не более 3х строк
					</p>
					<div class="btn">
						<a href="">Зарегистрировать тендер</a>
					</div>
				</div>
				<img src="./images/picture/image1.jpg" alt="image1">
			</div>
			<div class="pop_tender shadow_style">
				<div class="pop_tender_name">
					Услуга или объект

					<p>
						Краткое описание услуги или объекта, в виде анонса, занимающее не более 3х строк
					</p>
					<div class="btn">
						<a href="">Зарегистрировать тендер</a>
					</div>
				</div>
				<img src="./images/picture/image1.jpg" alt="image1">
			</div>
			<div class="pop_tender shadow_style">
				<div class="pop_tender_name">
					Услуга или объект

					<p>
						Краткое описание услуги или объекта, в виде анонса, занимающее не более 3х строк
					</p>
					<div class="btn">
						<a href="">Зарегистрировать тендер</a>
					</div>
				</div>
				<img src="./images/picture/image1.jpg" alt="image1">
			</div>
			<div class="pop_tender shadow_style">
				<div class="pop_tender_name">
					Услуга или объект

					<p>
						Краткое описание услуги или объекта, в виде анонса, занимающее не более 3х строк
					</p>
					<div class="btn">
						<a href="">Зарегистрировать тендер</a>
					</div>
				</div>
				<img src="./images/picture/image1.jpg" alt="image1">
			</div>
		</div>
		<input type="submit" class="all_list info_button button_active2 shadow_style" value="Посмотреть весь список">
	</section>
	<section class="section_current_tenders wrapper790">
		<div class="pop_tenders current_tenders">Текущие тендеры</div>
		<div class="current_tenders_block">
			<div class="current_tender shadow_style clear">
				<img src="./images/picture/image2.jpg" alt="image2">
				<div>
					<div class="current_tender_name">Актуальный тендер</div>
					<div class="tender_type"><span>тип</span>
						Строительство и ремонт
					</div>
					<div class="tender_start"><span>время</span>
						18:00 25-05-2015
					</div>
					<div class="tender_cost"><span>стоимость</span>
						900 000 руб.
					</div>
					<div class="tender_client"><span>заказчик</span>
						Иванов Иван Иванович
					</div>
					<a href="#" class="button_active1 shadow_style">Хочу такой же тендер</a>
				</div>
			</div>
		</div>
		<div class="current_tenders_block">
			<div class="current_tender shadow_style clear">
				<img src="./images/picture/image2.jpg" alt="image2">
				<div>
					<div class="current_tender_name">Актуальный тендер</div>
					<div class="tender_type"><span>тип</span>
						Строительство и ремонт
					</div>
					<div class="tender_start"><span>время</span>
						18:00 25-05-2015
					</div>
					<div class="tender_cost"><span>стоимость</span>
						900 000 руб.
					</div>
					<div class="tender_client"><span>заказчик</span>
						Иванов Иван Иванович
					</div>
					<a href="#" class="button_active1 shadow_style">Хочу такой же тендер</a>
				</div>
			</div>
		</div>
		<div class="current_tenders_block">
			<div class="current_tender shadow_style clear">
				<img src="./images/picture/image2.jpg" alt="image2">
				<div>
					<div class="current_tender_name">Актуальный тендер</div>
					<div class="tender_type"><span>тип</span>
						Строительство и ремонт
					</div>
					<div class="tender_start"><span>время</span>
						18:00 25-05-2015
					</div>
					<div class="tender_cost"><span>стоимость</span>
						900 000 руб.
					</div>
					<div class="tender_client"><span>заказчик</span>
						Иванов Иван Иванович
					</div>
					<a href="#" class="button_active1 shadow_style">Хочу такой же тендер</a>
				</div>
			</div>
		</div>
		<input type="submit" class="all_list info_button button_active2 shadow_style" value="Посмотреть весь список">
	</section>
	<section class="more_info wrapper clear">
		<div class="about_site">
			<div>Как это работает?</div>
			<p>
				короткий текст для мотивации изучения этой страницы
			</p>
		</div>
		<div class="take_order">
			<div>Как стать подрядчиком?</div>
			<p>
				короткий текст для мотивации изучения этой страницы
			</p>
		</div>
		<div>
			<div>Безопасность и гарантии?</div>
			<p>
				короткий текст для мотивации изучения этой страницы
			</p>
		</div>
	</section>
	<footer>
		<div class="footer_top">
			<div class="footer_top wrapper clear">
				<ul>
					<li class="li_first">Как тут все устроено</li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
				</ul>
				<ul>
					<li class="li_first">Компания</li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
				</ul>
				<ul>
					<li class="li_first">Служба поддержки</li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
				</ul>
				<ul class="footer_ul_last">
					<li class="li_tel">8 800 100 22 22</li>
					<li class="li_time">Время работы офиса: пн-пт 10:00 - 19:00</li>
					<li class="li_address">Адрес: Москва, Кремль</li>
				</ul>
			</div>
		</div>
		<div class="footer_bottom">
			<div class="wrapper clear">
				<div class="copyright">&copy;2015 Tender</div>
				<div class="soc_box">
					<a href="#" class="vk"></a>
					<a href="#" class="fb"></a>
					<a href="#" class="tw"></a>
					<a href="#" class="gp"></a>
					<a href="#" class="ok"></a>
				</div>
			</div>
		</div>
	</footer>
</body>