
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>index</title>
	<link rel="stylesheet" href="./css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
	<script type="text/javascript" src="js/jquery2.js"></script>
	<script type="text/javascript" src="js/owl.carousel.js"></script>
	<script type="text/javascript" src="js/tab.js"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript" src="js/function.js"></script>
</head>
<body>
	<div class="overlay"></div>
	<header>
		<div class="additional_block">
			<div class="wrapper clear">
				<div class="additional_text">Тендеры для всех</div>
				<a href="#">Как тут все устроено</a>
				<div class="additional_close"></div>
			</div>
		</div>
		<nav class="nav_top">
			<div class="wrapper clear">
				<div class="button_left_menu"></div>
				<ul class="horizon_menu">
					<li>
						<a href=""><img src="./images/Logo.png"></a>
					</li>
					<li><a href="#">Тендеры</a></li>
					<li><a href="#">Правила</a></li>
					<li><a href="#">Советы</a></li>
					<li><a href="#">Пункт4</a></li>
					<li><a href="#">Пункт5</a></li>
				</ul>
				<div class="login_block">
					<a href="#" class="login">вход</a>
					<span></span>
					<a href="#">регистрация</a>
				</div>
				<div class="left_menu">
					<nav class="nav_left">
						<div>
							<a href="#"><img src="./images/Logo.png"></a>
							<div></div>
						</div>
						<ul>
							<li class="li_first">Сервис</li>
							<li><a href="#">Пункт бокового меню 1</a></li>
							<li><a href="#">Пункт бокового меню 2</a></li>
							<li><a href="#">Пункт бокового меню 3</a></li>
							<li><a href="#">Пункт бокового меню 4</a></li>
						</ul>
						<ul>
							<li class="li_first">Компания</li>
							<li><a href="#">Пункт бокового меню 1</a></li>
							<li><a href="#">Пункт бокового меню 2</a></li>
							<li><a href="#">Пункт бокового меню 3</a></li>
						</ul>
						<ul>
							<li class="li_first">Служба поддержки</li>
							<li><a href="#">Пункт бокового меню 1</a></li>
							<li><a href="#">Пункт бокового меню 2</a></li>
							<li><a href="#">Пункт бокового меню 3</a></li>
						</ul>
						<ul class="footer_ul_last">
							<li class="li_tel">8 800 100 22 22</li>
							<li class="li_time">Время работы офиса: пн-пт 10:00 - 19:00</li>
							<li class="li_address">Адрес: Москва, Кремль</li>
						</ul>
						<div class="soc_box">
							<a href="#" class="vk"></a>
							<a href="#" class="fb"></a>
							<a href="#" class="tw"></a>
							<a href="#" class="gp"></a>
							<a href="#" class="ok"></a>
						</div>
					</nav>
				</div>
			</div>
		</nav>
			</header>
	<section class="request">
		<div class="pop_tenders">Заполните заявку</div>
		<form class="wrapper790">
			<div class="search_category">Укажите раздел:</div>
			<select id="list-search" class="search">
				<option selected="">Все категории</option>
				<option>Категория 1</option>
				<option>- подкатегория 1.2</option>
				<option>-- под-подкатегория 1.2.1</option>
				<option>Категория 2</option>
				<option>- подкатегория 2.2</option>
				<option>-- под-подкатегория 2.2.1</option>
				<option>Категория 3</option>
				<option>- подкатегория 3.2</option>
				<option>-- под-подкатегория 3.2.1</option>
			</select>
			<div class="clearfix"></div>
			<input type="text" class="tender_title top_placeholder" placeholder="Заголовок для тендера" data-placeholder="Заголовок для тендера" data-type="title_for_tender" data-top="62-20" data-font-size="24-18" data-font-color="000-999">
			<input type="text" class="tender_title top_placeholder" placeholder="Подробное описание тендера" data-placeholder="Подробное описание тендера" data-type="descr_tender" data-top="62-10" data-font-size="24-18" data-font-color="999-55b716">
			<div class="add_foto">
				Добавить фотографию / техническое задание
				<span></span>
				<div class="info">
					<div class="cls"></div>
					<div class="title">Техническое задание это</div>
					<div class="body">Таким образом рамки и место обучения кадров в значительной степени обуславливает создание модели развития. Не следует, однако забывать, что начало повседневной работы по формированию позиции играет важную роль в формировании новых предложений. </div>
				</div>
			</div>

			<div class="file">
				<ul>
					<li class="load">
						<input type="file" id="file1">
						<label for="file1">добавить файл</label>
						<span></span>
					</li>
				</ul>
			</div>
			
			<div class="clearfix"></div>
			<input type="text" class="tender_title tender_place top_placeholder" placeholder="Адрес или желаемое место выполнения" data-placeholder="Адрес или желаемое место выполнения" data-type="tender_place" data-top="62-20" data-font-size="24-18" data-font-color="000-999">
			<div class="search_category">Укажите округ (если Москва)</div>
			<select id="list-region" class="search">
				<option selected="">Выбрать округ</option>
				<option>Центральный</option>
				<option>Северный</option>
				<option>Северо-Восточный</option>
				<option>Восточный</option>
				<option>Юго-Восточный</option>
				<option>Южный</option>
				<option>Юго-Западный</option>
				<option>Западный</option>
				<option>Северо-Западный</option>
				<option>Зеленоградский</option>
				<option>Троицкий</option>
				<option>Новомосковский</option>
			</select>
			<div class="total_time">Дата и время актуальности тендера</div>
			<label class="tender_date">Дата:
				<input type="text" placeholder="введите дату">
			</label>
			<label class="tender_date_time">Время:
				<input type="text" placeholder="введите время">
			</label>
			<div class="payment">Оплата</div>
			<label class="payment_text">Я готов/готова заплатить за работу
				<input type="text" placeholder="введите сумму">
				руб.
			</label>
			<br>
			<div class="checked">
				<input id="check1" type="checkbox">
				<label for="check1" class="check_agree">Я согласен с <a href="#">правилами сервиса</a></label>
			</div>
			<input id="btnReg" type="submit" class="info_button button_active1 shadow_style" value="Опубликовать тендер">
		</form>
	</section>
	<div class="overlay"></div>
	<div id="modalReg" class="modal_box_big modal">
		<div class="modal_close"></div>
		<div class="modal_title">Поздравляем!</div>
		<div class="choiced">Ваш тендер зарегистрирован!</div>
		<div class="modal_text">
			Наши специалисты в ближайшее время рассмотрят заявку<br>
			и свяжутся с Вами для уточнения деталей.<br>
			Узнать подробней как это работает <a href="">здесь.</a>
		</div>
		<div class="next_step clear">
			<div class="next_step_left">
				<div>А пока вы можете<br>посмотреть свой тендер</div>
				<a href="#" class="info_button button_active1 shadow_style">Посмотреть тендер</a>
			</div>
			<div class="next_step_right">
				<div>Перейти в личный кабинет</div>
				<a href="#" class="info_button button_active1 shadow_style">Личный кабинет</a>
			</div>
			<div class="or_box"></div>
		</div>
		<div>Рассказать об этом в социальных сетях</div>
<script type="text/javascript">(function() {
	if (window.pluso)if (typeof window.pluso.start == "function") return;
	if (window.ifpluso==undefined) { window.ifpluso = 1;
	var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
	s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
	s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
	var h=d[g]('body')[0];
	h.appendChild(s);
	}})();
</script>
<div class="pluso" data-background="transparent" data-options="big,round,line,horizontal,nocounter,theme=08" data-services="vkontakte,facebook,twitter,google,odnoklassniki"></div>	</div>
	<footer>
		<div class="footer_top">
			<div class="footer_top wrapper clear">
				<ul>
					<li class="li_first">Как тут все устроено</li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
				</ul>
				<ul>
					<li class="li_first">Компания</li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
				</ul>
				<ul>
					<li class="li_first">Служба поддержки</li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
					<li><a href="#">Пункт меню</a></li>
				</ul>
				<ul class="footer_ul_last">
					<li class="li_tel">8 800 100 22 22</li>
					<li class="li_time">Время работы офиса: пн-пт 10:00 - 19:00</li>
					<li class="li_address">Адрес: Москва, Кремль</li>
				</ul>
			</div>
		</div>
		<div class="footer_bottom">
			<div class="wrapper clear">
				<div class="copyright">&copy;2015 Tender</div>
				<div class="soc_box">
					<a href="#" class="vk"></a>
					<a href="#" class="fb"></a>
					<a href="#" class="tw"></a>
					<a href="#" class="gp"></a>
					<a href="#" class="ok"></a>
				</div>
			</div>
		</div>
	</footer>
</body>